.summary-wrapper {
  width: 15vw;
  height: 100%;
  border: 1px solid black;
  min-height: 90vh;
  padding: 0.8rem;
  .breed-summary-block {
    h1 {
      text-align: left;
      font-size: 2.4rem;
    }
    span {
      display: block;
      text-align: left;
      font-size: 1.2rem;
    }
  }
}
